<div class="graph-wrapper">
  <div class="graph-state-header">
    {{stateCode}}
  </div>
  <div class="graph-plots">
    <div class="sales-value-plot">
      <div class="axes">
          <div class="sales-value-bar" [ngStyle]="{'width':actualSales+'px'}"></div>
          <!-- <hr class="sales-bar-x-axis">
          <div class="actual-sales-indicator">
          </div>
          <hr class="sales-threshold-indicator" [ngStyle]="{'top':actualSales - salesThreshold+'px'}"> -->
      </div>

      
      
      <span>
          sales value plot
      </span>
    </div>
    <div class="transactions-value-plot">
        transactions plot
    </div>
  </div>
<canvas id="myChart" width="400" height="400"></canvas>
<canvas id='stackedBar' width="400" height="400"></canvas>
</div>